<h1> Log In: </h1>

<form method= "post" action='/users/profile'>
  Email: <input type='text' name='user[email]'>
  Password: <input type='password' name='user[password]'>
  <input type="submit" value="Submit!">
</form>
