<h1>Welcome to your profile!</h1>
  <p> Here are the stats from your previous sessions </p>

  <!-- erb nonsense  -->


  <form action="/logout" method="get">
    <button name="logout" type="submit">Log Out</button>
  </form>
