<h2>Create a card!</h2>
<form action="/cards" method="post">
	<input type="text" name="question" placeholder="What's your question?">
	<input type="text" name="question" placeholder="What's the answer?">
	<input type="submit" value="Create that deck!">
</form>
